@model  RestraurantADMIN.Models.WaiterMaster

@{
    ViewBag.Title = "Waiter Master";
    Layout = "~/Views/Shared/_RestaurantADMINLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-md-6">
            <div class="card card-shadow mb-4">
                <div class="card-header border-0">
                    <div class="custom-title-wrap bar-primary">
                        <div class="custom-title">@ViewBag.Title </div>
                    </div>
                </div>
                <div class="card-body">
                    <input type="hidden" id="txtUM_Id" name="txtUM_Id" value="@Model.pk_intWaiterId" class="form-control">

@using (Html.BeginForm("Waiter", "Master", new { area = "" }, FormMethod.Post, new { @class = "", id = "myForm", role = "form", autocomplete = "off", enctype = "multipart/form-data" }))
{ 
                        <div class="row">
                            <div class="col-xl-4 col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Waiter Name</label>
                                    <input type="text" class="form-control" id="strWaiterName" name="strWaiterName" value="@Model.strWaiterName" placeholder="Enter Name">
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Mobail Number</label>
                                    <input type="number" class="form-control" id="strWaiterPhone" name="strWaiterPhone" placeholder="Enter Mobail Number">
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-12" style="margin-top:30px;">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-purple" onclick="SubmitNewUser()">Submit</button>
                                    <button type="submit" class="btn btn-outline-secondary" onclick="Refresh()">Cancel</button>
                                </div>
                            </div>
                        </div>
                        
}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/WaiterMaster.js"></script>
